body {
    margin: 0px;
    padding: 0px;
}

.letter-container {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 120vh;
    background-image: url('bg1.jpg');
}
.letter-container2 {
    position: relative;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('bg1.jpg');
}

.letter {
    background-image: url('bg2.jpg');
    padding: 15px;
    max-width: 100%;
    text-align: justify;
    border-radius: 10px;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: black;
    font-size: 22px;
    padding: 10px;
    margin-top: 5px;
    font-family: 'CursiveFont', cursive;
    text-indent: 30px;
}
.ask{
    font-size: 22px;
}

h1 {
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'CursiveFont', cursive;
}

.sticker {
    position: absolute;
    width: 150px;
}

.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.top-center {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.top-center2 {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 400px;
}

.ts {
    position: absolute;
    width: 130px;
    bottom: 30px;
}

.ts-bottom-left {
    left: 10px;
}

.ts-bottom-center {
    left: 50%;
    transform: translateX(-50%);
}

.ts-bottom-right {
    right: 10px;
}

.next-button1 {
    margin-top: 10px;
    position: relative;
    padding-bottom: 10px;
}

.next-link1 {
    padding: 10px 40px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.next-link1:hover {
    background-color: red;
    color: white;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

.picsur1,
.picsur2 {
    width: 150px;
    margin-right: 20px;
}

.paperrings {
    margin-right: 20px;
    width: 80px;
}
.next-buttons {
    display: flex;
    justify-content: center;
}

.next-link {
    margin: 15px 10px;
    padding: 10px 40px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.next-link:hover {
    background-color: red;
    color: white;
}

.video-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
    background-image: url('bg2.jpg');

}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.video-popup video {
    width: 100%;
}

.next-buttons {
    display: flex;
    justify-content: center;
}

.next-button {
    margin: 15px 10px;
    padding: 10px 40px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: red;
}

.video-popup,
.no-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
    background-image: url('bg2.jpg');
    background-size: cover; /* Adjust this property as needed */
    background-position: center; /* Adjust this property as needed */
}

.close-button,
.no-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.video-popup video {
    width: 100%;
}

.next-buttons {
    display: flex;
    justify-content: center;
}

.next-button {
    margin: 15px 10px;
    padding: 10px 40px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: red;
    color: white;
}